<footer class="app-footer">
    <div class="row">
        <div class="col-12">
            <a href="https://coreui.io">Launchpad</a>
            <span>&copy; 2019 - Tree of Life Canada.</span>
        </div>
       
        <div class="col-12 row">
            <a class="nav-link" href="mailto:canada.launchpad@treeoflife.com">Contact Support</a>
        </div>
    </div>
    
    

</footer>