<div id="div-loader" class="justify-content-center vw-100 vh-100 position-fixed" style="z-index:999; display:flex;">
    <div class="w-100 h-100 position-fixed bg-white" style="opacity:0.65;"></div>
    <div class="spinner-border my-auto" role="status" style="width:70px;height:70px;">
        <span class="sr-only">Loading...</span>
    </div>
</div>

